@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';


$primaryOne: #0052cc;
$primaryTwo: #FF000A;
$primaryThree: #091e42;
$primaryFour: #FFFFFF;

$secondaryOne: #36B37E;
$secondaryTwo: #FF000A;
$secondaryThree: #6554C0;

$neutralDarkOne: #091e42;
$neutralDarkTwo: #172b4d;
$neutralDarkThree: #253858;
$neutralDarkFour: #344563;
$neutralDarkFive: #42526e;

$midOne: #505F79;
$midTwo: #5E6C84;
$midThree: #6B778C;
$midFour: #97A0AF;
$midFive: #A5ADBA;
$midSix: #b3bac5;

$lightColorOne: #C1C7D0;
$lightColorTwo: #DFE1E6;
$lightColorThree: #EBECF0;
$lightColorFour: #F4F5F7;
$lightColorFive: #FAFBFC;

body * {
  font-family: Montserrat, 'sans-serif';
}

.card-ma {
  background: $lightColorFive;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  border-radius: 8px;
  padding: 18px;
  .top-title {
    font-size: 18px;
    color: #2C2C2C;
    margin-bottom: 22px;
  }
  .title {
    font-weight: 600;
    font-size: 18px;
  }
  .separator {
    border: 1px solid #D6D6D6;
    margin: 26px 0 35px;
    opacity: 0.7;
  }
}
.form-check {
  padding-top: 6px;
  label {
    display: flex;
    justify-content: space-between;
  }
}

.star {
  padding: 15px;
  background-image: url("../image/icon/star.svg");
  background-repeat: no-repeat;
}
.checked-star {
  padding: 15px;
  background-image: url("../image/icon/star-checked.svg");
  background-repeat: no-repeat;
}

.primaryButton {
  margin: 20px 0;
  width: 100%;
  color: $primaryFour;
  background: $primaryOne;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  border-radius: 8px;
  text-transform: uppercase;
  padding: 10px;
  font-size: 18px;
  border: none;
  height: 59px;
}

.wishilistButton {
  margin: 5px 0;
  width: 100%;
  color: $primaryFour;
  font-weight: 600;
  background: $secondaryOne;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  border-radius: 8px;
  text-transform: uppercase;
  padding: 10px;
  font-size: 14px;
  border: none;
  height: 45px;
  &:before {
    content: '';
    background-image: url("../image/icon/heart.svg");
    background-repeat: no-repeat;
    padding: 9px;
    position: relative;
    top: 10px;
    left: -4px;
  }
}

.addButton {
  margin: 5px 0;
  width: 100%;
  color: $primaryFour;
  font-weight: 600;
  background: $primaryOne;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.135216);
  border-radius: 8px;
  text-transform: uppercase;
  padding: 10px;
  font-size: 14px;
  border: none;
  height: 45px;
  &:before {
    content: '';
    background-image: url("../image/icon/shopping-bag.svg");
    background-repeat: no-repeat;
    padding: 9px;
    position: relative;
    top: 8px;
    left: -4px;
  }
}

.filterButton {
  margin: 5px 0;
  width: 100%;
  color: $primaryFour;
  font-weight: 600;
  background: $primaryOne;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.135216);
  border-radius: 8px;
  text-transform: uppercase;
  padding: 10px;
  font-size: 14px;
  border: none;
  height: 40px;
}


.dropdownPrimary-ma button {
  background: $primaryFour;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.135216);
  border-radius: 8px;
  color: #2C2C2C;
  border: none;
  &:hover, &:active, &:checked, &:visited, &:focus, &:focus-visible {
    background: $primaryFour;
    color: #2C2C2C;
  }

}

.fill-icon {
  background: $primaryFour;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.135216);
  border-radius: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
}

.previous-control {
  margin-right: 17px;
  background-color: #F4F5F7;
  border-radius: 46px !important;
  border: none !important;
  height: 40px;
  &:after {
    content: '';
    background: url("../image/icon/chevron-left.svg") no-repeat;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-self: center;
    position: relative;
    left: 2px;
    top: 4px;
  }
}

.next-control {
  height: 40px;
  margin-left: 17px;
  background-color: #F4F5F7;
  border-radius: 36px !important;
  border: none !important;
  &:after {
    content: '';
    background: url("../image/icon/chevron-right.svg") no-repeat;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-self: center;
    position: relative;
    left: 4px;
    top: 4px;
  }
}

.custom-page-item {
  .page-link {
    background-color: #F4F5F7;
    color: $midFour;
    border: none
  }
}

.first-page-link {
  .page-link {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
  }
}

.last-page-link {
  .page-link {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #FFAB00;
  border: none !important;
  border-radius: 60px;
  height: 40px;
  width: 40px;
  position: relative;
  margin-left: -9px;
  margin-right: -9px;
  top: -2px;
  text-align: center;
  font-weight: bold;
}

.page-link:focus {
  border: none !important;
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}

.dropdown-ma-arrow {
  text-align: left;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  width: 150px;
  button {
    background: $primaryOne;
    color: $primaryFour;
    height: 40px;
  }
  &:hover {
    color: $primaryFour;
  }
  .dropdown-toggle {
    display: flex;
    &:after {
      position: absolute;
      top: 14px;
      right: 10px;
      content: '' !important;
      background: url("../image/icon/arrow_bot-white.svg") no-repeat;
      padding: 10px;
      &:hover {
        color: $primaryFour;
        fill: $primaryFour;
        background: red;
      }
    }
  }
}

